<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
 <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>
<body>
 <h1>Book List</h1>
 
  <ul>
   {% for book in books %}
   <li><img src="{%static 'images/image.jpg'%}" alt="My image"> <br> {{book.name}} <br> автор: {{book.author}}</li>
   {% endfor %}
  </ul>
  <style>
   li {
    list-style-type: none;
    margin-bottom: 10px;
   }
   ul {
    padding: 0;
   }
  </style>
 
</body>
</html>